pandas<3
scikit-learn
scipy
python-dotenv
xgboost
shap
dvc
dagshub
mlflow
fastapi
uvicorn
pydantic<2.9
pydantic-settings
streamlit
python-json-logger
psycopg2-binary
supabase
pytest
prometheus-client
dvc-s3
protobuf
python-dateutil
prefect<3
anyio<4